body {
    margin: 0;
}
#three-canvas {
    position: absolute;
    left: 0;
    top: 0;
}




/* item */
.item-box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 2px solid #333333;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.item-box:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    box-sizing: border-box;
}
/* CSS 스타일 추가 */
.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 1000;
}

.modal-container .modal-header,
.modal-container .modal-footer {
    display: flex;
    justify-content: space-around;
}

.item-grid.active {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;
    width: 320px;
    max-height: 60vh;
    overflow-y: auto;
}
.item-grid {
    display: none;
}

.item-list.active {
    display: inline-block;
    max-height: 60vh;
    overflow-y: auto;
}
.item-list {
    display: none;
}

.modal-container .modal-button {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.modal-container .modal-button:hover {
    background-color: #555;
}

.modal-container.active {
    display: block;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


input[type="range"] {
    width: 300px;
    margin: 20px;
}
